:root {
    --orange-color: #F94616;
    --gray-color: #F7F7F7;
    --white: #fff;
    --black: #000;
    --text--sm: 12px;
    --text--md: 16px;
    --text--lg: 20px;
    --text--xl: 24px;
    --text--2xl: 32px;
}

body {
    background-color: #fff !important;
}

.text--sm {
    font-size: var(--text--sm);
}

.text--md {
    font-size: var(--text--md);
}

.text--lg {
    font-size: var(--text--lg);
}

.text--xl {
    font-size: var(--text--xl);
}

.text--2xl {
    font-size: var(--text--2xl);
}

.bg--orange {
    background-color: var(--orange-color);
}
.bg--gray {
    background-color: var(--gray-color);
}
.text--orange {
    color: var(--orange-color);
}

.btn--rounded {
    border-radius: 50px;
    border: none !important;
}

.btn--orange {
    transition: all 0.3s ease-in-out;
    background-color: var(--orange-color);
    color: #fff;
}
.btn--orange:hover{
    background-color: var(--white);
    color: var(--orange-color);
}

.btn--black {
    transition: all 0.3s ease-in-out;
    background-color: var(--black);
    color: #fff;
}
.btn--orange:hover{
    background-color: var(--white);
    color: var(--orange-color);
}

.btn--white {
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
    color: black
}

.btn--white:hover{
    background-color: var(--gray-color);
}

.maxw--520 {
    max-width: 520px;
}

.gap--24 {
    display: flex;
    gap: 24px;
}

.grid--2cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.grid--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.grid--5cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

.grid--6cols {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
}
.pillNav, .pillNav:focus{
    border: none;
    background-color: var(--white);
    outline: none; /* Esto elimina el contorno predeterminado del foco */
    box-shadow: none; /* Esto elimina cualquier sombra al enfocar el botón */
    border-color: transparent; /* Esto hace que el borde sea transparente */

}
.pillNav.active{
    color: var(--orange-color) !important;
}
.rounded--12{
    border-radius: 12px;
}
.border--gray{
    border-color: var(--gray-color);
    box-shadow: none;  
}
.gap--12{
    gap: 12px;;
}
@media (max-width: 990px) {
    .grid--2cols {
        grid-template-columns: 1fr;
    }

    .grid--4cols {
        grid-template-columns: 1fr 1fr;
    }

    .grid--5cols {
        grid-template-columns: 1fr 1fr;
    }

    .grid--6cols {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .grid--4cols {
        grid-template-columns: 1fr;
    }

    .grid--5cols {
        grid-template-columns: 1fr;
    }

    .grid--6cols {
        grid-template-columns: 1fr 1fr;
    }
}