.showMenu {
    display: block !important;
    transition: all 0.5s ease-in-out;
}

.categories--card {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 12px;
    text-align: center;
}

.bestSellers--item {
    padding: 12px 24px;
    height: 100%;
}

.bestSellers--item>img {
    height: auto !important;
    width: 100%;
}

.say--img {
    width: 240px;
}

.input--login {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

.input--login>input {
    background-color: var(--green-light);
    border-radius: 8px;
    border: none;
    margin-bottom: 12px;
    padding: 12px 24px;
}

.login__left {
    min-height: 100vh;
}

.input__register {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

.input__register>input,
.input__register>select {
    background-color: #EDF2F7;
    border-radius: 8px;
    border: none;
    padding: 12px;
}

.input--grey {
    background-color: #F7F7F7;
    border-radius: 8px;
    border: none;
    padding: 12px;
}

.input--white {
    background-color: #FFF;
    border-radius: 8px;
    border: none;
    padding: 12px;
}

.btn--faq {
    background-color: transparent;
    border: none;
    padding: 12px;
    color: var(--gray-color);
}

.btn--faq.active {
    color: var(--orange-color);
}

.btn--faq:hover {
    color: var(--orange-color);
}

.btn--faq:focus {
    color: none;
    outline: none;
}

@media (max-width: 767px) {
    .login__left {
        min-height: auto;
    }
}